---
import HeroSection from "@/HeroSection.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Wise Concern">
  <main class="min-h-dvh object-cover w-full flex flex-col">
    <HeroSection
      title="How to Reduce Screen time?"
      description="How to Reduce Screen time? Some Description....."
      imgLink="https://images.unsplash.com/photo-1669413442231-568f15cfd196?q=80&w=2091&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
      url="/blogs/blog1"
    />
  </main>
</Layout>
