---
import Card from "#/Card.astro";
import Layout from "@/Layout.astro";
import { getCollection } from "astro:content";
const featuredBlogs = await getCollection("blogs", (entry) => {
  return entry.data.featured === true;
});
---

<Layout title="Wise Concern">
  <main class="max-w-full">
    <h2 class="my-4">Featured</h2>
    {
      featuredBlogs.map((blog) => {
        return (
          <Card
            image={blog.data.image}
            title={blog.data.title}
            description={blog.data.description}
            href={`./blogs/${blog.slug}`}
          />
        );
      })
    }

    <a href="./blogs" class="w-fit"
      ><h3 class="my-4 border border-black/30 w-fit px-2 py-1 rounded-md">
        Blogs
      </h3>
    </a>
  </main>
</Layout>

<style is:global>
  .inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 400;
    font-variation-settings: "slnt" 0;
  }

  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
  h3 {
    @apply text-lg;
  }

  h4 {
    @apply text-base;
  }
</style>
