---
import Card from "@/Card.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Wise Concern">
  <main class="w-full gap-2 flex flex-col grow h-full">
    <h1 class="text-2xl px-4 font-semibold">/ Featured</h1>
    <Card
      imgLink="https://images.pexels.com/photos/17238245/pexels-photo-17238245/free-photo-of-man-posing-in-shirt-on-grassland.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
    />
  </main>
</Layout>
