---
import PostCard from "@/PostCard.astro";
export const prerender = false;
import Layout from "../layouts/Layout.astro";
import type { BlogCollectionType } from "$/config";
import { getCollection } from "astro:content";
const allBlogPosts = await getCollection("blogs");
const post: BlogCollectionType[] = allBlogPosts.map((post) => post.data);
const firstPost = post[post.length - 1];
---

<Layout title="Wise Concern">
  <main class="w-full max-w-[900px] mx-auto px-8 grow h-full flex flex-col">
    <h1 class="text-2xl underline underline-offset-8 font-semibold m-4">
      Featured Blog
    </h1>
    <PostCard
      title={firstPost.title}
      description={firstPost.description}
      imgLink={firstPost.image}
      url={"/blogs/" + firstPost.title}
    />
    <h2></h2>
  </main>
</Layout>
