---
import HeroSection from "@/HeroSection.astro";
import Layout from "../layouts/Layout.astro";
import type { BlogCollectionType } from "$/config";
import { getCollection } from "astro:content";
const allBlogPosts = await getCollection("blogs");
const post: BlogCollectionType[] = allBlogPosts.map((post) => post.data);
const firstPost = post[0];
---

<Layout title="Wise Concern">
  <main class="min-h-dvh object-cover w-full flex flex-col">
    <HeroSection
      title={firstPost.title}
      description={firstPost.description}
      imgLink={firstPost.image}
      url={"/blogs/" + firstPost.title}
    />
  </main>
</Layout>
