---
import { Image } from "astro:assets";
interface Props {
  imgLink: string;
}
const { imgLink } = Astro.props;
---

<div class="w-full border border-black/30 rounded-md h-fit flex flex-col">
  <Image class="rounded-md" src={imgLink} alt="concern" inferSize />
</div>
