<div class="bg-black w-full h-fit flex flex-col text-white">
    <ol
      class="w-full text-base flex flex-col gap-2 py-4 max-w-[900px] list-disc p-2 mx-auto"
    >
      <h1 class="text-xl">Thank you.</h1>
      <span class="w-full h-[0.01em] my-4 bg-white/60"></span>
      <li class="ml-6">Newsletter</li>
      <li class="ml-6">Youtube</li>
    </ol>
  </div>