---
import { Image } from "astro:assets";
interface Props {
  imgLink: string;
  title: string;
  description: string;
}
const { imgLink, title, description } = Astro.props;
---

<div class="h-dvh grow flex flex-col justify-center w-full">
  <div
    class="flex px-8 h-dvh flex-col grow justify-center my-auto z-20 text-white bg-black/40 w-full"
  >
    <div class="max-w-[900px] p-2 w-full mx-auto">
      <h1 class="text-xl opacity-95 mb-4 font-medium">Featured</h1>
      <h1 class="text-5xl my-2 font-semibold">
        {title}
      </h1>
      <h1 class="text-xl opacity-80 font-normal">
        {description}
      </h1>
    </div>
  </div>
  <Image
    src={imgLink}
    alt="hero"
    width={1920}
    height={1080}
    loading={"eager"}
    class="h-screen absolute inset-0 w-full object-cover"
  />
</div>
