---
import { Icon } from "astro-icon/components";
---

<script>
  import { useState, toggle } from "./customListener";

  const button = document.querySelector("button") as HTMLButtonElement;
  const mobilenav = document.getElementById("mobilenav") as HTMLElement;

  let navigation = useState(false);

  button.addEventListener("click", () => {
    toggle(mobilenav, navigation);
  });

  window.addEventListener("resize", () => {
    toggle(mobilenav, navigation, false);
  });
</script>

<header class="w-full inline-flex *:max-w-[900px]">
  <div
    class="mx-auto inline-flex sm:p-0 p-2 justify-between items-baseline w-full h-fit"
  >
    <h1>Wise Concern</h1>
    <nav class="hidden sm:inline-flex gap-2 items-baseline justify-center">
      <a href="./">Education</a>
      <a href="./">Life</a>
      <a href="./">Tech</a>
    </nav>
    <button class="inline-flex sm:hidden gap-2 items-baseline justify-center">
      <Icon class={"text-xl z-[100]"} name="mdi:menu" />
    </button>
    <nav
      id="mobilenav"
      class="absolute sm:hidden flex flex-col items-center justify-start py-24 px-8 transition-all duration-300 z-50 top-0 left-full w-full h-full"
    >
      <div
        class="bg-black/10 gap-4 items-center text-xl justify-center rounded-lg backdrop-blur-lg p-4 flex flex-col h-full w-full max-h-[900px] max-w-[450px]"
      >
        <a href="./">Education</a>
        <a href="./">Life</a>
        <a href="./">Tech</a>
      </div>
    </nav>
  </div>

  <style>
    header {
      h1 {
        @apply text-2xl font-bold;
      }
      h2 {
        @apply text-lg;
      }
    }

    a {
      @apply hover:underline underline-offset-2;
    }
  </style>
</header>
