---
import Layout from "#/PostLayout.astro";
import { Image } from "astro:assets";

import { getEntry } from "astro:content";
import { slugify } from "utils/utils";

const params = Astro.params;
const url = params.id;

if (url === undefined) {
  return Astro.redirect("/404");
}

const blogPost = await getEntry("blogs", slugify(url));
if (blogPost === undefined) {
  return Astro.redirect("/blogs/404");
}
const { Content } = await blogPost.render();
---

<Layout title={blogPost.data.title}>
  <div
    class="w-full mx-auto max-w-[900px] items-center grow pt-6 flex flex-col min-h-dvh px-8"
  >
    <div
      class="fixed z-[80] top-0 left-0 right-0 bottom-0 object-cover h-full w-full overflow-clip"
    >
      <Image
        src={blogPost.data.image}
        alt={""}
        inferSize
        loading={"eager"}
        class="object-cover h-full w-full aspect-auto"
      />
    </div>
    <div
      class="z-[100] prose-a:text-blue-600 prose-a:decoration-dotted prose-a:decorates snap-start backdrop-blur-sm grow flex flex-col bg-white p-8 prose w-full"
    >
      <Content />
    </div>
  </div>
</Layout>

<style>
  @import url("https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&display=swap");
  h1,
  p,
  a {
    font-family: "Gabarito", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }
</style>
