---
import Layout from "#/PostLayout.astro";
import { Image } from "astro:assets";

import { getEntry } from "astro:content";
import { slugify } from "utils/utils";

const params = Astro.params;
const url = params.id;

if (url === undefined) {
  return Astro.redirect("/404");
}

const blogPost = await getEntry("blogs", slugify(url));
if (blogPost === undefined) {
  return Astro.redirect("/404");
}
const { Content } = await blogPost.render();
---

<Layout title={blogPost.data.title}>
  <div
    class="w-full mx-auto max-w-[900px] grow flex flex-col py-32 min-h-dvh px-8"
  >
    <div
      class="absolute z-[80] top-0 left-0 right-0 h-2/3 w-full overflow-clip"
    >
      <Image
        src={blogPost.data.image}
        alt={""}
        inferSize
        class="object-bottom w-full aspect-auto"
      />
    </div>
    <div
      class="prose z-[100] backdrop-blur-sm bg-white p-8 lg:prose-lg sm:prose-sm base:prose-base xl:prose-xl 2xl:prose-2xl w-full"
    >
      <Content />
    </div>
  </div>
</Layout>
