---
import type { BlogCollectionType } from "$/config";
import Layout from "#/Layout.astro";
import { getCollection } from "astro:content";
import PostCard from "@/PostCard.astro";
const allBlogPosts = await getCollection("blogs");
const post: BlogCollectionType[] = allBlogPosts.map((post) => post.data);
---

<Layout title="WC | Blogs">
  <main class="h-full grow px-10 w-full flex flex-col">
    <div class="flex flex-col w-full sm:px-12 px-0 max-w-[900px] mx-auto gap-4">
      {
        post.map((blog) => {
          return (
            <PostCard
              title={blog.title}
              description={blog.description}
              imgLink={blog.image}
              url={"/blogs/" + blog.title}
            />
          );
        })
      }
    </div>
  </main>
</Layout>
