---
import Footer from "@/Footer.astro";
import NavBar from "@/NavBar.svelte";
interface Props {
  title: string;
}

import { ViewTransitions } from "astro:transitions";

const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <meta name="theme-color" content="#1d4ed8" />
    <title>{title}</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />

    <ViewTransitions />
  </head>
  <body class="flex debug-screens flex-col w-full" transition:persist>
    <div class="flex grow w-full flex-col">
      <div class="flex flex-col h-full w-full grow">
        <NavBar title="Wise Concern" client:only="svelte" />
        <slot />
      </div>
      <Footer />
    </div>
    <style is:global>
      body {
        font-family: "Raleway", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
      }

      :root {
        -ms-overflow-style: none; /* Internet Explorer 10+ */
        scrollbar-width: none; /* Firefox */
      }
      :root::-webkit-scrollbar {
        display: none; /* Safari and Chrome */
      }
    </style>
  </body>
</html>
