---
import NavBar from "@/NavBar";
interface Props {
  title: string;
}

import { ViewTransitions } from "astro:transitions";

const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <link rel="manifest" href="./manifest.json" />

    <meta name="theme-color" content="#1d4ed8" />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body class="flex flex-col min-h-screen" transition:persist>
    <div class="flex flex-col">
      <div class="flex flex-col h-full min-h-screen">
        <NavBar title="Wise Concern" client:load />
        <slot />
      </div>
      <div class="bg-black w-full h-fit flex flex-col text-white">
        <ol
          class="w-full text-base flex flex-col gap-2 py-4 max-w-[900px] list-disc p-2 mx-auto"
        >
          <h1 class="text-xl">Thank you.</h1>
          <span class="w-full h-[0.01em] my-4 bg-white/60"></span>
          <li class="ml-6">Newsletter</li>
          <li class="ml-6">Youtube</li>
        </ol>
      </div>
    </div>
  </body>
</html>
