---
import NavBar from "@/NavBar";
interface Props {
  title: string;
}

import { ViewTransitions } from "astro:transitions";
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <link rel="manifest" href="./manifest.json" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
    rel="preload"
      href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap"
as="style"
    />
    <meta name="theme-color" content="#1d4ed8" />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body class="flex flex-col min-h-lvh" transition:persist>
    <NavBar siteName="Wise Concern" client:only="react">
      <a class="link" href="./">Education</a>
      <a class="link" href="./">Life</a>
      <a class="link" href="./tech">Tech</a>
    </NavBar>
    <main
      class="w-full grow relative flex flex-col *:mx-auto *:w-full *:px-2 *:pt-8 mx-auto max-w-[900px]"
    >
      <slot />
    </main>
    <style is:global>
      :root {
        font-family: "Nunito Sans", sans-serif;
      }

      header {
        font-family: "Raleway", sans-serif;
        h1 {
          @apply text-2xl font-semibold;
        }
        h2 {
          @apply text-lg font-normal;
        }
        a {
          @apply px-2 font-medium;
        }
        a.link {
          @apply px-2 py-1 font-medium;
        }
      }
    </style>
  </body>
</html>
