---
import NavBar from "@/NavBar.svelte";
interface Props {
  title: string;
}

import { ViewTransitions } from "astro:transitions";

const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="manifest" content="/manifest.json" />
    <meta name="theme-color" content="#4285f4" />
    <title>{title}</title>

    <ViewTransitions />
  </head>
  <body
    class="flex flex-col h-screen overflow-y-visible w-full"
    transition:persist
  >
    <div class="flex grow h-full w-full flex-col">
      <div class="flex pt-24 pb-6 flex-col h-full w-full grow">
        <NavBar title={"Wise Concern"} client:only="svelte" />
        <slot />
      </div>
    </div>
    <style is:global>
      @import url("https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&display=swap");

      body {
        font-family: "Gabarito", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
      }

      :root {
        -ms-overflow-style: none; /* Internet Explorer 10+ */
        scrollbar-width: none; /* Firefox */
      }
      :root::-webkit-scrollbar {
        display: none; /* Safari and Chrome */
      }
    </style>
  </body>
</html>
